---
import BaseHead from "./BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<div class="flex justify-center items-center min-h-screen w-full">
  <div class="logo-width relative">
    <div
      class="logo-ll absolute w-full h-full flex flex-row gap-3 justify-end items-end bg-british z-10"
    >
      <span class="l1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7mm"
          height="30mm"
          viewBox="0 0 7 30"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 0.95235103,29.971677 C -0.29295379,29.739156 0.09696418,28.246175 0.02551208,27.345148 0.00136239,18.589669 -0.02411666,9.8335532 0.04323664,1.078395 0.17244861,-0.23057306 1.681107,0.02529062 2.6267119,0.0120237 3.7827637,0.03707789 6.1068899,0.02155513 6.1068899,0.02155513 6.7567816,0.02155514 7,0.55630557 7,1.5387794 L 6.988368,28.258241 c 0,1.106489 -0.6369538,1.720497 -1.8920226,1.720497 -1.380819,0.0115 -2.7640507,0.04507 -4.14407211,-0.0071 z"
          ></path>
        </svg>
      </span>
      <span class="l2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7mm"
          height="30mm"
          viewBox="0 0 7 30"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 0.95235103,29.971677 C -0.29295379,29.739156 0.09696418,28.246175 0.02551208,27.345148 0.00136239,18.589669 -0.02411666,9.8335532 0.04323664,1.078395 0.17244861,-0.23057306 1.681107,0.02529062 2.6267119,0.0120237 3.7827637,0.03707789 6.1068899,0.02155513 6.1068899,0.02155513 6.7567816,0.02155514 7,0.55630557 7,1.5387794 L 6.988368,28.258241 c 0,1.106489 -0.6369538,1.720497 -1.8920226,1.720497 -1.380819,0.0115 -2.7640507,0.04507 -4.14407211,-0.0071 z"
          ></path>
        </svg>
      </span>
    </div>
    <div
      class="logo-anas absolute w-full h-full flex flex-row gap-3 justify-end items-end"
    >
      <span class="a1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21mm"
          height="21mm"
          viewBox="0 0 21 21"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 10.252094,7.6735393e-4 C 10.107123,-0.00138013 9.9604193,0.00104653 9.8128136,0.00720979 7.8104858,0.08602236 6.0843535,0.65402047 4.4481804,1.7722571 3.0576532,2.7226035 1.8932309,4.0723064 1.116708,5.6341588 0.53709424,6.7999406 0.2149222,7.8754315 0.05646507,9.171458 c -0.07503601,0.6135785 -0.07535084,2.0183 -5.5622e-4,2.624534 0.30562215,2.477249 1.33754025,4.605704 3.06248675,6.317204 1.0780416,1.069639 2.2792473,1.822815 3.7143554,2.328792 0.7429088,0.26194 1.6890341,0.463964 2.4680967,0.527132 0.4987847,0.04048 1.1497713,0.04113 1.5038583,0.0021 1.497666,-0.166913 2.95986,-0.874981 4.205699,-2.036929 l 0.24892,-0.231939 0.133417,0.453333 c 0.290908,0.988851 0.414744,1.207604 0.785821,1.387176 l 0.176791,0.08547 1.735431,0.01074 c 1.866318,0.01159 2.111975,-0.0033 2.349875,-0.144268 0.224436,-0.132629 0.414577,-0.347032 0.489718,-0.552654 l 0.06884,-0.18754 v -9.314583 c 0,-10.54155675 0.0298,-9.47912251 -0.278757,-9.82011035 -0.344346,-0.38058741 -0.498049,-0.40582031 -2.349875,-0.38785663 -1.186293,0.011489 -1.355339,0.0197568 -1.468061,0.0704374 C 16.746954,0.37255925 16.673702,0.43721995 16.58093,0.58720006 16.463123,0.77761877 16.197463,1.4851496 15.988171,2.1657616 15.879721,2.5184103 15.783979,2.8267349 15.775583,2.8510229 15.766138,2.8772222 15.666398,2.7703849 15.52937,2.5880101 14.293995,0.94386604 12.426679,0.03257154 10.252052,0.00176593 Z M 10.142542,5.4029824 c 0.312212,2.256e-4 0.628916,0.020831 0.846028,0.062169 0.994599,0.1890535 1.859811,0.6576017 2.588489,1.4010491 0.715015,0.7295209 1.16457,1.5853567 1.385638,2.6389648 0.09687,0.4615796 0.104106,1.4262407 0.01458,1.9154147 -0.288285,1.577539 -1.2221,2.849225 -2.619408,3.566162 -0.342929,0.175942 -0.93288,0.377731 -1.305363,0.446665 -0.33719,0.06238 -1.2258153,0.0904 -1.5239234,0.04767 C 7.5792384,15.202145 6.1465651,13.773768 5.7328911,11.696864 5.3423892,9.7363209 5.9624803,7.6416138 7.2763344,6.4821886 7.8829086,5.946918 8.5290788,5.6253649 9.3214275,5.4640032 9.522566,5.4229864 9.8302869,5.4026926 10.1425,5.4030146 Z"
          ></path>
        </svg>
      </span>
      <span class="n">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21mm"
          height="21mm"
          viewBox="0 0 21 21"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 0.98648113,20.96747 C 0.53677402,20.898319 0.20642812,20.63615 0.0660645,20.237059 0.00257698,20.056547 0,19.687107 0,10.634087 V 1.2188483 L 0.09546554,1.0286962 C 0.21714603,0.78624372 0.451429,0.54864929 0.67160885,0.44443161 0.94777952,0.31371365 1.2772352,0.29265128 2.8705375,0.30384442 l 1.4715515,0.009847 0.2403271,0.11056375 C 5.0527742,0.64063439 5.2394767,0.97558623 5.5531425,2.1656919 L 5.767489,2.9789837 5.8917699,2.7855491 c 0.8392417,-1.3063153 2.874239,-2.37860302 5.1384591,-2.70759172 0.505721,-0.0735268 1.978585,-0.10394414 2.516589,-0.05197207 1.8173,0.1753483 3.360949,0.85064605 4.665629,2.04107999 1.376929,1.2563565 2.258724,2.9269139 2.627654,4.9781039 0.16515,0.9181879 0.167656,1.0355025 0.155592,7.2909048 l -0.01171,5.913842 -0.09336,0.184287 c -0.117944,0.232944 -0.249171,0.355511 -0.498553,0.465692 l -0.19728,0.08721 -2.259848,0.0098 c -2.461383,0.01105 -2.710214,-0.0011 -3.028975,-0.152437 -0.22312,-0.105695 -0.334821,-0.267541 -0.39634,-0.574319 -0.02343,-0.116723 -0.03631,-2.14637 -0.03666,-5.746306 -4.33e-4,-5.2959754 -0.0035,-5.5804869 -0.06724,-5.8679854 C 14.230632,7.8634504 13.662091,7.069339 12.878512,6.5226913 12.506372,6.2630826 11.896259,5.9852672 11.442371,5.8687512 11.12341,5.7869089 11.024068,5.7768427 10.545615,5.7779369 10.065348,5.779031 9.9736421,5.7888784 9.6919192,5.8695172 8.9952081,6.0690133 8.4547561,6.378734 7.9057179,6.8931372 7.304531,7.456416 7.0201491,7.8956402 6.7857139,8.6229757 c -0.075201,0.2334475 -0.07567,0.2609544 -0.09488,5.8803393 -0.017805,5.205894 -0.024013,5.656815 -0.080121,5.787336 -0.1369784,0.318583 -0.3198857,0.4874 -0.6725694,0.620776 -0.1987323,0.07517 -0.2045539,0.07539 -2.4769852,0.08053 -1.2527772,0.0033 -2.3665497,-0.0088 -2.47506411,-0.02517 z"
          ></path>
        </svg>
      </span>
      <span class="a2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21mm"
          height="21mm"
          viewBox="0 0 21 21"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 10.252094,7.6735393e-4 C 10.107123,-0.00138013 9.9604193,0.00104653 9.8128136,0.00720979 7.8104858,0.08602236 6.0843535,0.65402047 4.4481804,1.7722571 3.0576532,2.7226035 1.8932309,4.0723064 1.116708,5.6341588 0.53709424,6.7999406 0.2149222,7.8754315 0.05646507,9.171458 c -0.07503601,0.6135785 -0.07535084,2.0183 -5.5622e-4,2.624534 0.30562215,2.477249 1.33754025,4.605704 3.06248675,6.317204 1.0780416,1.069639 2.2792473,1.822815 3.7143554,2.328792 0.7429088,0.26194 1.6890341,0.463964 2.4680967,0.527132 0.4987847,0.04048 1.1497713,0.04113 1.5038583,0.0021 1.497666,-0.166913 2.95986,-0.874981 4.205699,-2.036929 l 0.24892,-0.231939 0.133417,0.453333 c 0.290908,0.988851 0.414744,1.207604 0.785821,1.387176 l 0.176791,0.08547 1.735431,0.01074 c 1.866318,0.01159 2.111975,-0.0033 2.349875,-0.144268 0.224436,-0.132629 0.414577,-0.347032 0.489718,-0.552654 l 0.06884,-0.18754 v -9.314583 c 0,-10.54155675 0.0298,-9.47912251 -0.278757,-9.82011035 -0.344346,-0.38058741 -0.498049,-0.40582031 -2.349875,-0.38785663 -1.186293,0.011489 -1.355339,0.0197568 -1.468061,0.0704374 C 16.746954,0.37255925 16.673702,0.43721995 16.58093,0.58720006 16.463123,0.77761877 16.197463,1.4851496 15.988171,2.1657616 15.879721,2.5184103 15.783979,2.8267349 15.775583,2.8510229 15.766138,2.8772222 15.666398,2.7703849 15.52937,2.5880101 14.293995,0.94386604 12.426679,0.03257154 10.252052,0.00176593 Z M 10.142542,5.4029824 c 0.312212,2.256e-4 0.628916,0.020831 0.846028,0.062169 0.994599,0.1890535 1.859811,0.6576017 2.588489,1.4010491 0.715015,0.7295209 1.16457,1.5853567 1.385638,2.6389648 0.09687,0.4615796 0.104106,1.4262407 0.01458,1.9154147 -0.288285,1.577539 -1.2221,2.849225 -2.619408,3.566162 -0.342929,0.175942 -0.93288,0.377731 -1.305363,0.446665 -0.33719,0.06238 -1.2258153,0.0904 -1.5239234,0.04767 C 7.5792384,15.202145 6.1465651,13.773768 5.7328911,11.696864 5.3423892,9.7363209 5.9624803,7.6416138 7.2763344,6.4821886 7.8829086,5.946918 8.5290788,5.6253649 9.3214275,5.4640032 9.522566,5.4229864 9.8302869,5.4026926 10.1425,5.4030146 Z"
          ></path>
        </svg>
      </span>
      <span class="s">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16mm"
          height="21mm"
          viewBox="0 0 16 21"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 6.7761341,20.987038 C 5.4708956,20.852366 4.4765834,20.612197 3.5267769,20.202182 2.8344508,19.903315 2.0951062,19.463586 1.5347555,19.01741 1.0319915,18.617094 0.37138137,17.901239 0.17478789,17.543713 -0.01913115,17.191071 -0.05573226,16.729928 0.08528015,16.416502 0.15602362,16.25925 2.456383,13.978017 2.6724958,13.850776 c 0.3200063,-0.188417 0.6039183,-0.08323 1.1755492,0.435538 0.7454268,0.676476 1.5022524,1.112049 2.4436581,1.406402 0.5359464,0.167577 0.7860503,0.194603 1.4255776,0.154058 0.9357333,-0.05933 1.4603459,-0.216202 1.8121112,-0.541872 0.2355238,-0.218049 0.3142583,-0.416241 0.3119719,-0.785219 -0.00213,-0.39569 -0.08886,-0.621072 -0.3291078,-0.858902 C 9.2545386,13.405693 8.8350057,13.222211 7.8163542,12.919079 7.3531893,12.781248 6.7513307,12.602175 6.4788712,12.521135 4.7557181,12.008579 3.3248238,11.21466 2.3838926,10.249071 1.3305591,9.1681398 0.8665856,8.0073243 0.76585166,6.2009369 0.74104829,5.7550877 0.78914521,5.1122302 0.88070194,4.6675316 1.3450421,2.4122587 3.2132195,0.77930361 5.9835161,0.20720194 c 1.4602594,-0.30156315 3.278269,-0.27188449 4.6251879,0.0755069 1.335812,0.34452436 2.626933,1.11006836 3.849555,2.28250836 0.456554,0.4378107 0.600943,0.6279782 0.653558,0.8607889 0.0674,0.2983141 -0.0494,0.4887048 -0.552803,0.9013571 -0.647572,0.5307555 -1.306187,1.1066997 -1.778895,1.5556059 -0.257793,0.2448028 -0.517182,0.4699091 -0.57643,0.5002356 -0.05921,0.030325 -0.20012,0.062485 -0.313051,0.071451 C 11.588901,6.4786286 11.344619,6.3576085 11.018984,6.0228219 10.556056,5.5468984 10.155774,5.2994347 9.5918856,5.1405714 8.4788624,4.8269991 7.3429228,4.9447658 6.9127574,5.4183297 6.7546846,5.5923498 6.6935281,5.7543736 6.6935281,5.9992063 c 0,0.2530793 0.1068701,0.4962554 0.2942432,0.6697622 0.3062242,0.2835072 0.7431406,0.4524061 1.7037205,0.65861 1.2240777,0.262768 3.2981332,1.0648387 4.3027332,1.6639391 0.873111,0.5206812 1.555289,1.1409004 2.035827,1.8509164 0.649761,0.960045 0.921023,1.874257 0.965034,3.252319 0.03861,1.208284 -0.149198,2.165957 -0.600726,3.063558 -1.047295,2.081974 -3.153919,3.38591 -6.0919189,3.770713 -0.3953547,0.05178 -2.1878061,0.09294 -2.5263503,0.05802 z"
          ></path>
        </svg>
      </span>
      <span class="dot">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7mm"
          height="7mm"
          viewBox="0 0 7 7"
          version="1.1"
          fill="currentColor"
        >
          <path
            d="M 0.58561698,6.9639259 C 0.35899237,6.9061182 0.20399131,6.7748848 0.10044525,6.5532649 L 0,6.3383304 8.8784056e-4,3.5010164 C 0.00173593,0.84187473 0.00618838,0.65270634 0.07628803,0.48876699 0.16864995,0.27186784 0.35984045,0.09591466 0.56813845,0.03609991 0.67401675,0.00571199 1.6628989,-0.00545381 3.5387602,0.00246118 6.3444159,0.01376832 6.3511078,0.01518171 6.5168955,0.10931363 6.7137311,0.22167829 6.9255804,0.466605 6.9689918,0.63204255 6.9860861,0.69705858 7,1.9973369 7,3.5215247 V 6.2927908 L 6.8961094,6.508008 C 6.7844005,6.7395499 6.6100525,6.8911927 6.3757553,6.9606044 6.2054755,7.0110625 0.78241281,7.014172 0.58555073,6.9634312 Z"
          ></path>
        </svg>
      </span>
    </div>
  </div>
</div>

<style>
  .logo-width {
    position: absolute;
    width: 450px;
    height: 114px;
  }

  .logo-ll {
    -webkit-animation: 2s linear 0s infinite alternate move-ll;
    animation: 2s linear 0s infinite alternate move-ll;
  }

  .logo-anas {
    -webkit-animation: 2s linear 0s infinite alternate move-anas;
    animation: 2s linear 0s infinite alternate move-anas;
  }

  .l1 {
    transform-origin: bottom right;
    -webkit-animation: 2s linear 0s infinite alternate move-l1;
    animation: 2s linear 0s infinite alternate move-l1;
  }

  .l2 {
    transform-origin: bottom right;
    -webkit-animation: 2s linear 0s infinite alternate move-l2;
    animation: 2s linear 0s infinite alternate move-l2;
  }

  .dot {
    transform-origin: bottom right;
    -webkit-animation: 2s linear 0s infinite alternate move-dot;
    animation: 2s linear 0s infinite alternate move-dot;
  }

  @keyframes move-l1 {
    0% {
      transform: translateX(75%) rotate(90deg) scaleY(0.2);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes move-l2 {
    0% {
      transform: translateX(-75%) rotate(90deg) scaleY(0.2);
    }

    25% {
      transform: translateX(250%) rotate(90deg);
    }

    50% {
      transform: translateX(0) rotate(0deg);
    }

    100% {
      transform: translateX(0) rotate(0deg);
    }
  }

  @keyframes move-dot {
    0% {
      transform: translateX(0%);
    }

    25% {
      /* transform: translateX(750%); */
    }

    38% {
      transform: translateX(250%);
    }

    50% {
      transform: translateX(0);
    }

    75% {
      transform: translate(0);
    }

    100%: {
      transform: translateX(0);
    }
  }

  @keyframes move-ll {
    0% {
      transform: translateX(-42%);
    }

    25% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(-50%);
    }

    80% {
      transform: translateX(-86%);
    }
    100% {
      transform: translateX(-86%);
    }
  }

  @keyframes move-anas {
    0% {
      transform: translateX(-42%);
    }

    25% {
      transform: translateX(-42%);
    }

    75% {
      transform: translateX(-42%);
    }

    80% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
